#Titulo1{
    color: rgb(47, 8, 176);
    font-weight: bold;
    font-size:larger;
}
p{
    color: rgb(5, 86, 111);
    font-style: italic;
    font-size: medium;
}
#Titulo2{
    color: brown;
}
#Titulo3{
    color: rgb(8, 4, 115);
}
#Titulo4{
    color: rgb(214, 12, 12);
}
#Anexos{
    color: rgb(4, 11, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#fondo{
    font-size: 60px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:black;
    height: 300px;
    background-image: url("C:/Users/Emi/Downloads/Ed.civica.jpg");
    background-position: 0cap;
    opacity: 0.6;
    background-size: cover;
}
